html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2b2e4a;
  background-image: url("../images/bar.png");
  background-repeat: repeat-x;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header {
  margin-top: 5%;
}

.links {
  padding-top: 8px;
}

a {
  font-weight: bold;
  background: -webkit-linear-gradient(#b83b5e, #6a2c70);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Jost", sans-serif;
  /* color: #6a2c70; */
}

.navigation {
  margin-top: 2rem;
}

.social-icons * {
  margin-right: 5px;
}

.social-icons *:hover {
  background-color: #f08a5d;
}

.margin-0 {
  line-height: 0rem;
  margin-top: 2.5rem;
}

.intro {
  margin-top: 10%;
}

.person {
  margin-top: 30%;
}
